*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0d3b66;
    color: rgb(255, 255, 255);
}
.navbar{
    border-bottom: #0d3b66 3px solid;
    opacity: 0.8;
}
#home-section{
    background-image: url('homee.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}
#home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; 
}
  #home-section .home-inner {
    padding-top: 150px; 
}
  #home-section .card-form {
      color:rgb(253, 253, 253);
    opacity: 0.8; 
}
#home-section .card-body{
    background: #0b5eac;
}
  #home-section .fa {
    color: #1d536e;
    background: rgb(255, 255, 255);
    padding: 4px;
    border-radius: 5px;
    font-size: 22px; 
}
.colors{
    background: #faf0ca;
    color:black;
}
#explore-section i{
    color:#fff;
    background: #333;
    padding: 4px;
    border-radius: 5px;
    font-size: 22px;
}
#create-section i{
    color: #1d536e;
    background: rgb(255, 255, 255);
    padding: 4px;
    border-radius: 5px;
    font-size: 22px; 
}
#share-section i{
    color:#fff;
    background: #333;
    padding: 4px;
    border-radius: 5px;
    font-size: 22px;
}